body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: fantasy;
}

.gridElement16 {
    height: 31.25px;
    width: 31.25px;
}

.gridElement32 {
    height: 15.625px;
    width: 15.625px;
}

.gridElement48 {
    height: 10.4166px;
    width: 10.4166px;
}

.gridElement64 {
    height: 7.8125px;
    width: 7.8125px;
}

.container {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
}

.settings {
    display: flex;
    justify-content: space-around;
}

#sizeBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 5px;
    border: solid 2px black;
    transition: all .5s ease-in-out;
}

#sizeBar:hover {
    transform: scale(1.1);
}

.divClass {
    border: solid 1px lightgray;
    box-sizing: border-box;
}

#grid {
    border: solid 2px black;
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    flex-grow: 0;
    
}

button {
    border: solid 2px black;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    background-color: lightgrey;
    border-radius: 5px;
    display: flex;
    font-weight: 700;
    transition: all .5s ease-in-out;
}

button:hover {
transform: scale(1.1);
}

#sizeBar button {
    border: none;
    transform: none;
}
